@media only screen and (max-width: 450px) {
  /* general */

  .medium-title {
    font-size: 35px;
    margin: auto;
    margin-bottom: 5rem;
  }

  .bb-2 {
    width: max-content;
  }

  /* header */

  * {
    box-sizing: border-box;
  }

  body,
  html {
    margin: 0;
    max-width: 400px;
  }

  .header {
    padding: 0.5rem 2rem;
    margin: auto;
    height: max-content;
    max-width: 400px;
  }

  .wrapper {
    width: 100%;
  }

  .wrapper-header {
    justify-content: space-between;
    margin: auto;
  }

  .logo-container {
    margin-bottom: 1rem;
  }

  nav {
    flex-direction: column;
  }

  .nav-elem {
    display: none;
  }

  .landing-page {
    height: max-content;
  }

  /* main */

  .main-div {
    height: 360px;
    display: grid;
    grid-template-columns: auto 400px;
    grid-template-rows: auto auto auto;
  }

  .search-bar {
    width: 350px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-left: 3rem;
  }

  .search {
    width: 270px;
  }

  .big-title {
    width: 350px;
    font-size: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    margin-left: 3rem;
    padding-bottom: 68px;
  }

  .medium-font {
    font-size: 36px;
    width: 270px;
    display: block;
  }

  .slider {
    display: none;
  }

  /* random */

  .random-mobile {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    gap: 2.5rem;
  }

  /* .latest-img {
  height: 200px;
} */

  .trope-description {
    width: 300px;
    margin: 5rem auto;
    font-size: 15px;
  }

  .trope-name a {
    font-size: 18px;
  }

  .found-book .book-title {
    width: 130px;
  }

  .book-title a {
    font-size: 17px;
    width: 80px;
  }

  .author-name a {
    font-size: 13px;
  }

  .desc-tag {
    width: 100%;
    font-size: 15px;
    max-height: 98px;
  }

  .author-block {
    line-height: 3rem;
    width: 130px;
  }

  /* tags */
  .container-books {
    width: 350px;
    padding-top: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 5rem;
  }
  .container-books h2 {
    margin-top: 2rem;
  }

  .latest-block {
    width: 180px;
  }

  .found-book {
    gap: 2.8rem;
    width: 290px;
    margin: 2rem auto;
    align-items: center;
  }

  .latest-book {
    gap: 0rem;
  }

  /* book page */

  .one-book {
    width: 350px;
    flex-direction: column;
  }

  .book-img {
    height: 350px;
  }

  .book-block {
    width: 305px;
    align-items: center;
    gap: 1rem;
    height: 390px;
  }

  .book-block .book-title {
    text-align: center;
  }

  .one-book-btn {
    gap: 2rem;
    align-items: center;
    font-size: 14px;
  }

  .author-name a {
    font-size: 15px;
  }

  #modal {
    width: 350px;
  }

  .reviews-btn {
    padding: 1.5rem;
    text-align: center;
  }

  .review-title {
    width: 350px;
  }

  .review-title:before {
    width: 80px;
    left: 40px;
    top: 50%;
  }
  .review-title:after {
    width: 80px;
    height: 1px;
    right: 40px;
    top: 50%;
  }

  .p-review {
    font-size: 13px;
    text-align: center;
    width: 300px;
    margin: 3rem auto 2rem auto;
  }

  .one-review {
    margin: 1rem 2rem 3rem 2rem;
  }

  .review-list {
    max-width: 340px;
  }

  /* write review */

  .write-review-div .container-books {
    width: 350px;
    padding: 3rem;
  }

  .write-review-div .container-books {
    width: 350px;
  }

  .signup .wrapper {
    flex-direction: column;
  }

  .write-review-div textarea {
    width: 300px;
  }

  /* v3 */

  /* new tag pages */


  .latest-img {
    height: 180px;
  }

  [data-tooltip]:hover {
    display: none;
  }

  .book-title {
    width: 130px;
  }

  /* new book page */

  .book-separator-mobile {
    flex-direction: column;
    gap: 8rem;
  }

  .section-img {
    margin: auto;
  }

  .book-img {
    height: 300px;
  }

  .section-title {
    width: 320px;
    margin: auto;
  }



 

  .tab__summary {
    font-size: 15px;
    margin-top: 3rem;
    height: 450px;
  }

  .tab___content div {
    font-size: 15px;
  }

  .tab table {
    padding-bottom: 5rem;
  }
  .book-details-section td {
    width: 130px;
    font-size: 14px;
  }

  .book-genre {
    overflow: auto;
  }

  .star-review {
    display: none;
  }

  .review-wrapper {
    height: 550px;
    width: 290px;
  }

  .p-review {
    width: 240px;
  }

  .review-list {
    width: 240px;
  }

  .one-review {
    width: 100%;
  }

  .review-text {
    width: 230px;
  }

  .block-username-rating {
    width: 230px;
    align-items: center;
  }


  #prev {
    margin-left: -5.5rem;
  }

  #next {
    margin-right: -5.5rem;
  }

  .item {
    max-height: 220px;
  }

  ul.ui-autocomplete {
    width: 260px;
  }

  .up {
    margin-bottom: 5rem;
  }

  .previous-page,
  .next-page {
    width: 60px;
  }
}