/* signup & login */

.signup {
  margin: auto;
  margin-top: 15rem;
  background: url('../../../assets/img/terms.svg') no-repeat right;
  background-size: 20%;
  background-position-y: bottom;
  margin-bottom: 35rem;
  max-width: 1900px;
  position: relative;
}

.signup .wrapper {
  display: flex;
  gap: 2rem;
}

.signup h2 {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.signup p {
  font-size: 16px;
  color: #747474;
  margin-bottom: 3rem;
}

.signup p a {
  color: var(--blue);
  font-family: 'Crimson Pro', sans-serif;
}

.signup-left {
  width: 60%;
  background-color: white;
  border-radius: 6px;
  padding: 4rem;
}

.signup-left a,
.div-forgot-password a {
  font-size: 16px;
  color: #222;
}

.arrow-left {
  margin: 0 0.5rem;
}

.signup-right {
  width: 40%;
}

.signup-button {
  background-color: var(--blue);
  color: white;
  border: none;
  cursor: pointer;
  padding: 1rem 3rem;
  font-size: 15px;
  text-transform: uppercase;
  font-family: 'crimson pro', serif;
  font-weight: 300;
  margin: 1.5rem 0;
}

.div-email,
.div-password,
.div-username {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.signup label {
  font-size: 18px;
}

.signup .label-username {
  margin-top: 1rem;
}

.signup input,
.div-forgot-password input {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  outline: 0;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: 'Lora', serif;
}

.login {
  margin: auto;
  margin-top: 15rem;
  background: url('../../../assets/img/login.svg') no-repeat right;
  max-width: 1900px;
  margin-right: 5rem;
  margin-bottom: 35rem;
  background-size: 20%;
  background-position-y: bottom;
}

.password-forgot {
  position: relative;
  margin-top: 2rem;
  margin-bottom: 3rem;
  width: 100%;
}

.password-forgot a {
  color: #747474;
  font-size: 14px;
}

/* .forgot {
  font-family: "Crimson Pro", sans-serif;
  position: absolute;
  bottom: 0;
  right: 0;
} */
/* 
.div-forgot-password {
  margin: auto;
  margin-top: 15rem;
  background-color: white;
  border-radius: 6px;
  padding: 4rem;
  width: 700px;
} */

.div-forgot-password h2 {
  width: 55%;
  font-size: 40px;
  margin-top: 3rem;
}

.div-forgot-password label {
  font-size: 16px;
  margin-top: 3rem;
}

.div-forgot-password p {
  font-size: 18px;
  text-align: center;
}

.password-submit {
  width: 100%;
  position: relative;
  margin-bottom: 6rem;
}

.password-submit .signup-button {
  margin: auto;
  position: absolute;
  right: 0;
  left: 0;
  width: max-content;
  margin-top: 1rem;
}

.btn-signup {
  background-color: var(--blue);
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.6rem 1.2rem;
  font-size: 13px;
  border-radius: 6px;
  text-transform: uppercase;
  font-family: 'crimson pro', serif;
  font-weight: 500;
  transition: all 0.5s ease-in-out;
}

.btn-signup:hover {
  background-color: #62bdfa;
  padding: 0.6rem 1.2rem;
}

.btn-login {
  background-color: #aaa;
  margin-left: -1rem;
}

.btn-logout {
  background-color: #aaa;
  margin-left: 1rem;
}

.btn-login,
.btn-logout:hover {
  background-color: #ccc;
}

@media only screen and (max-width: 450px) {
  /* login */

  .login {
    max-width: 400px;
    margin: 18rem auto 5rem auto;
    background: none;
  }

  .signup {
    background: none;
  }

  .signup-left {
    margin: auto;
    width: 350px;
  }

  .signup .wrapper {
    flex-direction: column;
  }

  .signup label {
    font-size: 15px;
  }

  .signup p {
    font-size: 15px;
    margin-bottom: 4rem;
    margin-top: 5rem;
  }
}
